<div class="new-park">
    <h3>Add a New Park</h3>
  <div>
    <form {{action 'create' on='submit'}}>
	    <h1>{{name}}</h1>
	      <p>Name: {{input value=name}}</p>
	      <p>Picture: {{input type='text' value=imgUrl id='imgUrl' }}</p>
	      <p>Description: {{input value=description}}</p>
	      <p>Rating: <fieldset class="rating">
					    <legend>Please rate:</legend>
					    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!"></label>
					    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good"></label>
					    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh"></label>
					    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad"></label>
					    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time"></label>
					</fieldset>
				</p>
	    <button class="btn">Create</button>
	</form>
  </div>
</div>
