<div class="park">
  <h1>{{name}}</h1>
    <div class="inner-park">
      <form {{action 'editPark'  on='submit'}}>
          <p>Name: {{input value=name}}</p>
          <p>Picture: {{input type='text' value=imgUrl id='imgUrl' }}</p>
          <p>Description: {{input value=description}}</p>
        <button>Update</button>
      </form>
    </div>
 
{{outlet}}

</div>
