<div class="park">
  <h1>{{name}}</h1>
    <div class="inner-park">
      <table>
        <tbody>
          {{#each buffer}}
          <tr>
            <td>
              <strong>{{key}}:</strong>
            </td>
            <td>
              {{input value=value}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  <button {{action 'save'}}>Update</button>

{{outlet}}

</div>
