<p>Hello, I am addpark.</p>
<form {{action 'create' on='submit'}}>
  <h1>{{name}}</h1>
    <p>Name: {{input value=name}}</p>
    <p>Picture: {{input type='text' value=imgUrl id='imgUrl' }}</p>
    <p>Description: {{input value=description}}</p>
  <button>Create</button>
</form>