<div class="park">
<h1>{{name}}</h1>

<div class="inner-park">
  <ul>
    <li>{{description}}</li>
    <li><img {{bind-attr src=imgUrl}} /></li>
  </ul>
</div>

{{#link-to 'park.edit' model}}Change{{/link-to}}
<button {{action "delete"}}>Delete</button>
{{#if deleteMode}}
  <div class="confirm-box">
    <h4>Really?</h4>
    <button {{action "confirmDelete"}}> yes </button>
    <button {{action "cancelDelete"}}> no </button>
  </div>
  {{/if}}
  {{link-to "New Comment" "park.new_comment" this.id class='btn btn-primary'}}
  <h2>Comments ({{comments.length}})</h2>
    {{#each comments}}
      <div class="comment">
        <p>{{commenter}} Says: {{text}}</p>
        <button {{action "delete"}}>Delete</button>
      </div>
    {{/each}}
</div>


{{outlet}}
