<div class="park">
<h1>{{name}}</h1>

<div class="inner-park">
  <ul>
    <li>{{description}}</li>
    <li><img {{bind-attr src=imgUrl}} /></li>
    <li><button {{action "location"}}>Location</button></li>
    <li>{{coords}}</li>
  </ul>
</div>

{{#link-to 'park.edit' model}}Change{{/link-to}}
<button {{action "delete"}}>Delete</button>
{{#if deleteMode}}
  <div class="confirm-box">
    <h4>Really?</h4>
    <button {{action "confirmDelete"}}> yes </button>
    <button {{action "cancelDelete"}}> no </button>
  </div>
  {{/if}}
</div>
{{outlet}}
