<div class="parks list-group">
<h1>Parks ({{parksCount}})</h1>
		<hr>
	<ul>
	 {{#each model}}
	 	<li>{{#link-to 'park' this}}{{this.name}}{{/link-to}}</li>
	 		{{this.location}}
	 		{{this.description}}
	 		<hr>
	 {{/each}}
	</ul>
	{{#link-to "parks.new"}}<span class="glyphicon glyphicon-plus"></span>New{{/link-to}}
</div>	
{{outlet}}

